{% extends "base_page.html" %}

{% block title %}
    作者:{{ author }}
{% endblock %}

{% block content %}
    <div class="container theme-showcase" style="min-height: 600px">
        <div>
            <span class="h3">作者：</span>
            <span id="author" class="h1 text-info">{{ author }}</span>
            <span class="h5" id="count"></span>
            <hr>
        </div>

        <div id="article_item">
        </div>
    </div>
{% endblock %}

{% block ext_js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/src/articles_by_author.js') }}"></script>
{% endblock %}