{% extends "base_page.html" %}

{% block title %}
    文章列表
{% endblock %}

{% block content %}
    <div class="container theme-showcase" style="min-height: 600px">
        <div class="row">
		    <div class="col-md-9">	
			    <div>
                    <h1>文章列表</h1>
                </div>
        
                <div id="article_item">
                </div>
		    </div>
		    <div class="col-md-3">	
			    <div>
                    <h3>所有标签</h3>
                </div>
        
                <dl id="tags" class="dl-horizontal">
                </dl>
		    </div>
	    </div>
	    
    </div>
{% endblock %}

{% block ext_js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/src/articles.js') }}"></script>
{% endblock %}